"*":
  "activate-power-mode":
    plugins:
      playAudio: true
      screenShake: true
  core:
    autoHideMenuBar: true
    telemetryConsent: "no"
  editor:
    fontSize: 15
    scrollPastEnd: true
  "exception-reporting":
    userId: "4bfe28f2-f667-4f96-b6ee-fc6e30290b4a"
  "git-blame":
    columnWidth: 288
  "js-hyperclick": {}
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
